{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}

    <!-- Container de Cadastro -->
    <div class="content-container">
        <h2 class="text-center text-white">Cadastro</h2>

        <!-- Exibindo mensagens de flash -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-group">
                <label for="username" class="text-white">Nome de Usuário</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário" required>
            </div>
            
            <div class="form-group">
                <label for="password" class="text-white">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <div class="form-group">
                <label for="confirm_password" class="text-white">Confirme a Senha</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" required>
            </div>

            <div class="form-group">
                <label class="text-white">Quais dessas opções você acharia relaxante após um dia longo?</label>
                <div class="genre-options">
                    <div class="genre-option">
                        <input type="checkbox" id="music" name="genres" value="music">
                        <label for="music">Tocando um instrumento ou ouvindo música.</label>
                        <i class="fas fa-fist-raised"></i>
                    </div>
                    <div class="genre-option">
                        <input type="checkbox" id="story" name="genres" value="story">
                        <label for="story">Assistindo a um filme ou lendo um livro.</label>
                        <i class="fas fa-hiking"></i>
                    </div>
                    <div class="genre-option">
                        <input type="checkbox" id="puzzle" name="genres" value="puzzle">
                        <label for="puzzle">Jogando xadrez ou montando um quebra-cabeça."</label>
                        <i class="fas fa-brain"></i>
                    </div>
                    <div class="genre-option">
                        <input type="checkbox" id="art" name="genres" value="art">
                        <label for="art">Pintando, desenhando ou fazendo uma atividade artística.</label>
                        <i class="fas fa-chess"></i>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="text-white">Quanto tempo você normalmente passa em aplicativos ou jogos?</label>
                <div class="genre-options">
                    <div class="genre-option">
                        <input type="checkbox" id="short-time" name="play-time" value="short-time">
                        <label for="short-time">Apenas alguns minutos</label>
                        <i class="fas fa-hiking"></i>
                    </div>
                    <div class="genre-option">
                        <input type="checkbox" id="medium-time" name="play-time" value="medium-time">
                        <label for="medium-time">Entre 15 e 30 minutos</label>
                        <i class="fas fa-brain"></i>
                    </div>
                    <div class="genre-option">
                        <input type="checkbox" id="long-time" name="play-time" value="long-time">
                        <label for="long-time">Uma hora ou mais</label>
                        <i class="fas fa-chess"></i>
                    </div>
                    
                </div>
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-register">Cadastrar</button>
            </div>
        </form>
    </div>
    {% endblock %}