{% extends "base.html" %}
{% block title %}View Game{% endblock %}
{% block content %}
<div class="container">
    <div class="card mx-auto mb-4" style="width: 18rem;">
        <img src={{ url_for('static', filename='images/game_icons/' + game.name.lower().replace(" ", "") + '.png')}} alt="Game Logo">
        <div class="card-body">
            <h5 class="card-title">{{ game.name }}</h5>
            <p class="card-text">{{ game.description }}</p>
            <p class="card-text">Recommendation Weight: {{ weight }}</p>
        </div>
    </div>
</div>
{% endblock %}